body {
    background-image: url('https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?w=2000');
     background-repeat: repeat;
     background-size: cover;
     font-family:"Kanit", sans-serif;
   }

header{
     background-color: rgb(14, 0, 141);
     color: white;
     height: 100px;
     padding: 10px;
   }

   footer{
    background-color: rgb(26, 2, 163);
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.mainpage {
      width: 1024px; 
      margin: 0 auto;
    }
     
.headname{
    color: white;
}    
     
